body {
    background-color: #415fe1;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 15%;
  }
  h1, h2 {
    font-weight: bold;
    font-size: 1.7rem;
  }
  p, li{
    font-size: 1.2rem;

  }
  img{
    width: 350px;
    height: 350px;
  }
  a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
  }
  